/*mobile*/
@media(min-width:320px){

    .col{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
}

/*ipad*/
@media(min-width:660px){

    .col{
        width: 50%;
        padding: 20px;
        text-align: center;
    }
}


/*laptop*/
@media(min-width:1000px){


    
.col{
    width: 33.33%;
    padding: 20px;
    text-align: center;
}
}